streamlit

tensorflow==2.19.0
tf-keras==2.19.0

numpy
Pillow
python-dotenv

langchain
langchain-community
langchain-chroma
langchain-huggingface
langchain-groq

chromadb

sentence-transformers
transformers
torch

docx2txt
