streamlit

tensorflow
tf-keras

numpy
Pillow
python-dotenv

langchain>=1.0.0
langchain-core>=1.0.0
langchain-community>=0.3.0
langchain-huggingface
langchain-chroma>=1.0.0
langchain-groq>=0.3.8

chromadb
sentence-transformers
docx2txt
